@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-selection: 20px;
}
body {
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
/* UTILITIES */
.primary-button {
  background-color: orange;
  color: black !important;
  border-radius: 3px;
  font-weight: 560;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--accent-color);
  transition: 0.2 ease-out;
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;

  /* border: 1px solid grey; */
}

.left-container {
  width: 25vw;
}

.image-container img {
  width: 73vw;
  height: 100vh;
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 1.5rem;
  }
  .primary-button {
    background-color: orange;
    color: black !important;
    border-radius: 3px;
    font-weight: 530;
    padding: 6px 12px;
    box-shadow: 0 0 2px var(--accent-color);
    transition: 0.2 ease-out;
  }
  .container {
    margin: 0;
    padding: 0;
  }
  .main-container {
    flex-direction: column-reverse;
  }
  .image-container img {
    width: 100%;
    height: 65vh;
  }
  .left-container {
    width: 100%;
    height: 35vh;
    padding: 10px;
    border-top-left-radius: 20px;
    border: 1px solid black;
  }

  /* .left-container {
    height: 25vh;
  } */
}
